@font-face {
    font-family: "Test";
    src: url("../font/Onryou.ttf");
}

body {
    background-color: black;
}

h1, h2 {
    font-family: Test;
    text-align: center;
    color: white;
}

.fire {
    display:none;
    margin-bottom: 50px;
}

#link {
    margin:auto;
    width:500px;
    text-align: center;
}

#link-akuma {
    font-family: Test;
    color: red;
    font-size: 40px;
    text-decoration:none;
}

#button {
    font-family: Test;
}

#akuma-form {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

#akuma-view {
    margin: auto;
    width: 700px;
}

#akuma-chart {
    margin: auto;
    width: 1000px;
}

#pie_chart_result {
    width: 490px;
    float: left;
}

#line_chart_result {
    width: 490px;
    float: right;
}