@font-face {
    font-family: "Test";
    src: url("../font/onryou.TTF");
}

body {
    background-color: black;
}

h1, h2 {
    font-family: Test;
    text-align: center;
    color: white;
}

#button {
    font-family: Test;
}

#akuma-form {
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
}

#akuma-view {
    margin: auto;
    width: 700px;
}

#akuma-chart {
    margin: auto;
    width: 1000px;
}

#pie_chart_result {
    width: 490px;
    float: left;
}

#line_chart_result {
    width: 490px;
    float: right;
}